# Ignore the following
*.mp4
*.txt
*.zip
*.avi
*.jpg
*.png
*.pkl
__pycache__/
*egg*
*.pdf
*.deb
*.npz
*.log
inputs/*
outputs/*
*.ipynb_checkpoints/
*.o
*.so
data/clevr/*/*
data/clevrer/*/*
data/charades/*/*
data/charades/object_bbox_and_relationship*
data/charades/person_bbox*
data/models/*
data/gqa/*
*.pt
*.duckdb*
duckdb_dir/*
*/build/*
*/lightning_logs/*
*.out
LLaVA/
*/.cache/*
vocaludf/OAI_CONFIG_LIST
experiments/lightning_logs/
*.ckpt
*.DS_Store
*.parquet
scripts/*

# Un-ignore the following
!LICENSE.txt
!duckdb_dir/features/
!duckdb_dir/load_clevrer.py
!duckdb_dir/load_cityflow.py
!duckdb_dir/load_charades.py
!scripts/experiments/