# Ignore the following
*.mp4
*.txt
*.zip
*.avi
*.jpg
*.png
*.pkl
__pycache__/
*egg*
*.pdf
*.deb
*.npz
*.log
inputs/*
outputs/*
*.ipynb_checkpoints/
*.o
*.so
data/clevr/*/*
data/clevrer/*/*
data/models/*
data/gqa/*
*.pt
*.duckdb*
duckdb_dir/*
*/build/*
*.out
LLaVA/
*/.cache/*
vocaludf/OAI_CONFIG_LIST
# Un-ignore the following
!LICENSE.txt
!data/clevr/vocab_clevrer.json